  .img-home {
    height: 250px;
    width: 250px;
    margin-bottom: 24px;
  }

.img-about {
    height: 70%;
    width: 70%;
    object-fit: contain;
  }

  .svg-about {

      
      color: #7283db;
      height: 24px;
      width: 24px;
    
  }

  //SVG Header
    .svg-menu {
      height: 32px;
      width: 32px;
      color: #2c3e50;
    }